@page "/"

@using BlazorDungeonCrawler.Shared.Enumerators;
@using BlazorDungeonCrawler.Shared.Responses;
@using BlazorDungeonCrawler.Shared.Interfaces;

@inject IJSRuntime JS
@inject IDungeonDataManager DungeonManager
@inject HttpClient Http

<div id="external-frame">
    <div id="play-area">
        <div id="messages"></div>
        <div id="dungeon"></div>
    </div>
    <div class="button">
        <button class="dungeon-button" disabled>Advance</button>
    </div>
    <div class="details">
        <div class="adventurer">
            <div class="dungeon-floor">
                <span class="label">Depth</span>
                <span class="value" id="current-floor"></span>
            </div>
            <div class="adventurer-stats">
                <div class="adventurer-stats-section">
                    <div class="adventurer-stats-row adventurer-stats-row-total">
                        <span class="label">Level</span>
                        <span class="value"></span>
                    </div>
                    <div class="adventurer-stats-row adventurer-stats-row-total">
                        <span class="label">Experience</span>
                        <span class="value"></span>
                    </div>
                </div>
                <div class="adventurer-stats-section">
                    <div class="adventurer-stats-row adventurer-stats-row-total">
                        <span class="label">Health</span>
                        <span class="value"></span>
                    </div>
                </div>
                <div class="adventurer-stats-section">
                    <div class="adventurer-stats-row adventurer-stats-row-total">
                        <span class="label">Damage</span>
                        <span class="value"></span>
                    </div>
                </div>
                <div class="adventurer-stats-section">
                    <div class="adventurer-stats-row adventurer-stats-row-total">
                        <span class="label">Protection</span>
                        <span class="value"></span>
                    </div>
                </div>
            </div>
            <div class="dice"></div>
        </div>
        <div id="log">
        </div>
    </div>
</div>
<div id="external-frame-footer">
    <div id="version">
        <span class="api-version"></span>
        <span class="client-version">Client V0.2.1</span>
    </div>
</div>

