@page "/"

@using BlazorDungeonCrawler.Shared.Interfaces;

@inject IAccessTokenDataManager AccessToken

<div id="external-frame">
    <Reports ErrorReports=ErrorReports InformationReports=InformationReports />
    <div id="access-token">
        <label>Please enter an access token</label>
        <input type="text" @bind=UserToken placeholder="Token" />
        <button type="button" @onclick=@SubmitToken disabled=@ButtonDisabled>Submit</button>
    </div>
</div>