@page "/"

@using BlazorDungeonCrawler.Shared.Enumerators;
@using BlazorDungeonCrawler.Shared.Responses;
@using BlazorDungeonCrawler.Shared.Interfaces;
@using BlazorDungeonCrawler.Client.Pages;

@inject IJSRuntime JS
@inject IDungeonDataManager DungeonManager
@inject HttpClient Http

<div id="external-frame">
    <div id="play-area">
        <div id="reports">
            <Reports ErrorReports=ErrorReports InformationReports=InformationReports />
        </div>
        <Tiles DungeonTiles=DungeonTiles DungeonDepth=DungeonDepth MacGuffinFound=MacGuffinFound TileRows=TileRows TileColumns=TileColumns OnClickCallback=@SelectTile />
        <LevelSelect DungeonFloors=DungeonFloors AdventurerAlive=AdventurerAlive DungeonDepth=DungeonDepth OnClickCallback =@SelectDungeonDepth />
    </div>
    <div class="button">
        <button @onclick="AutomaticallyAdvanceDungeon" class="dungeon-button" disabled="@AdvanceDisabled">Advance</button>
    </div>
    <div class="details">
        <div class="adventurer">
            <div class="dungeon-floor">
                <span class="label">Depth</span>
                <span class="value" id="current-floor">@DungeonDepth.ToString()</span>
            </div>
            <div class="adventurer-stats">
                <AdventurerAttribute Attributes=AdventurerExperienceStats />
                <AdventurerAttribute Attributes=AdventurerHealthStats />
                <AdventurerAttribute Attributes=AdventurerDamageStats />
                <AdventurerAttribute Attributes=AdventurerProtectionStats />
            </div>
            <div class="dice"></div>
        </div>
        <div id="log">
            <Logs Messages=Messages />
        </div>
    </div>
</div>
<div id="external-frame-footer">
    <div id="version">
        <span class="api-version">@ApiVersion</span>
        <span class="client-version">Client V0.2.1</span>
    </div>
</div>
<CookieConsent FoundCookie=FoundCookie RejectedCookie=RejectedCookie DungeonId=DungeonId />