@if (Messages != null && Messages.Count > 0) {
    foreach (Message message in Messages) {
        <div data-identity="@message.Id" class="log-entry">
            <span class="log-entry-message">
                @message.Text
            </span>
            @if (message.Children != null && message.Children.Count > 0) {
                <div class="log-actions">
                    @foreach (Message childMessage in message.Children) {
                        <span class="log-action-message">
                            @childMessage.Text
                        </span>
                    }
                </div>
            }
        </div>
    }
}