@page "/"

<h1>API root</h1>
<h2>API endpoints</h2>

<table>
    <thead>
        <tr>
            <th>Function</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="./api/monster">/api/monster</a></td>
            <td>Return all Monsters</td>
        </tr>
        <tr>
            <td><a href="./api/monster/1">/api/monster/[Id]</a></td>
            <td>Return Monster with index</td>
        </tr>
        <tr>
            <td><a href="./api/monster/Kobold/search">/api/monster/[NAME]/search</a></td>
            <td>Return Monsters with name</td>
        </tr>
    </tbody>
</table>

